---
const title = 'Aditya Bhattacharya | Portfolio Website'
const description =
	'Portfolio website for Aditya Bhattacharya, a software developer'
---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta
	name="keywords"
	content="aditya,bhattacharya,aditya bhattacharya software developer"
/>
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="English" />
<meta name="author" content="Aditya Bhattacharya" />

{/* Open Graph tags */}
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="" />

{/* twitter specific */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="" />
